body{
    margin:0;
    padding:0;
    font-family: "montserrat",sans-serif;
    background: url(bg.jpg) center no-repeat;
    background-size: cover;
   height: 100vh;
   display:flex;
   align-items: center;
   justify-content: center;

}
.text{
    font-size: 10em;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    mask-image: url(mask.png);
    -webkit-mask-image: url(mask.png);
}
